.header{
    width: 100%;
    height: 5vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 30px;
}
/** { font-family: Calibri, Candara, Segoe}*/
* {font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji}
a:hover {color: gray;}
a {color:black; text-decoration: None;}
.menu-button {color: white; font-size: larger;}
.main-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.greeting {
    font-size: 70px;
}
tr:nth-child(even) {
  background-color: #D3D3D3;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.form-container{
    width:30%;
    margin-left:35%;
    margin-right:35%;
    display:flex;
    flex-direction:column;
    height: 200px;
}

.form-field{
    display:flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
}

#qr-form-container{
    width:30%;
    margin-left:35%;
    margin-right:35%;
    display:flex;
    flex-direction:column;
    height: 25px;
}

#qr-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 5%;
}
#product-info {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 5%;
}
#upload-contacts-form, #download-contacts-form{
    width:30%;
    margin-left:35%;
    margin-right:35%;
    margin-top:150px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height: 200px;
}
form input[type="submit"]{
    width:100%;
    height:40px;
    background-color:black;
    border:None;
    color:white;
    font-size:25px;
    border-radius: 5px;
}
form input[type="submit"]:hover {
  cursor: pointer;
  background-color: gray;
}
