<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Gavlan Deal</title>
</head>
<body>
    {% include 'GavlanDealApp/header.html' %}
    <div class="form-container">
        <form id="add_deal_form">
            <label>Наименование </label><input id="TITLE" required>
            <label>Валюта </label><select id="CURRENCY_ID" required>
                <option value="RUB">Рубль</option>
                <option value="USD">Доллар США</option>
                <option value="EUR">Евро</option>
            </select>
            <label>Сумма </label><input id="OPPORTUNITY" type="number" required>
            <label>Налог </label><input id="TAX_VALUE" type="number" required>
            <label>Начало</label><input id="BEGINDATE" type="datetime-local" required>
            <label>Конец</label><input id="CLOSEDATE" type="datetime-local" required>
            <label>Скидка(%) </label><input id="UF_CRM_1752242366887" type="number" required>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
<script src="//api.bitrix24.com/api/v1/"></script>
</html>