
<div class="header">
        <a class="menu-button" href="{% url 'last_deals' %}">Последние сделки</a>
        <a class="menu-button" href="{% url 'product_list' %}">Товары</a>
        <a class="menu-button" href="{% url 'add_deal' %}">Добавление сделки</a>
        <a class="menu-button" href="{% url 'generate_qr' %}">QR-код товара</a>
        <a class="menu-button" href="{% url 'employees' %}">Сотрудники</a>
        <a class="menu-button" href="{% url 'on_map' %}">На карте</a>
        <a class="menu-button" href="{% url 'upload_contacts' %}">Загрузить контакты</a>
        <a class="menu-button" href="{% url 'download_contacts' %}">Скачать контакты</a>

</div>