<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Gavlan Deal</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GavlanDealApp/style.css' %}" />
</head>
<body>
    {% include 'GavlanDealApp/header.html' %}
    <div class="main-container">
        <table id="active-deals" style="width:96%">
            <tr>
                {% for field in fields %}
                <th style="width:12%">{{ field }}</th>
                {% endfor %}
            </tr>
            {% for deal in deals %}
            <tr style="height:20px">{% for value in deal %} <td>{{value}}</td>{% endfor %}</tr>
            {% endfor %}
        </table>
    </div>
</body>
<script src="//api.bitrix24.com/api/v1/"></script>
</html>