<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Gavlan Deal</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GavlanDealApp/style.css' %}" />
</head>
<body>
    {% include 'GavlanDealApp/header.html' %}
    <div id="upload-contacts-form-container">
        <form id="upload-contacts-form" action="{% url 'upload_contacts' %}" method="POST" enctype="multipart/form-data">
            <div class="form-field">
                <label>Файл с контактами</label>
                <input type="file" name="file" required>
            </div>
            <input type="submit" value="ЗАГРУЗИТЬ" id="upload-contacts">
            {% if success %}
            <p>Файл успешно загружен!</p>
            {% endif %}
        </form>
    </div>
</body>

</html>